<div class="contact-text">
  <h1>
    What do you think? Send us your feedback!
  </h1>
  <p class="osoite">E-commerce Company |
    <a href="mailto:feedback@ecommece.com">FEEDBACK@ECOMMERCE.COM</a><br>
  </p>
  <p>
    Do you have a marketplace concept in mind? Perhaps a potential partnership? <br />
    Or just want to hear more about E-commerce? We're happy to hear.
  </p>
</div>
